.wrapper {
  width: 100%;
}
.heading {
  margin-left: 20px;
}
.content {
  margin-left: 20px;
}
.group {
  padding: 4px;
}
@media screen and (max-width: 500px) {
  .heading {
    font-size: 18px;
  }
}
